@model IEnumerable<Todo.Models.Item>

@* void IndexView(IEnumerable<Item> Model)
{
    // do stuff
}
*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("ToggleDone", new { id=item.ItemID })">
                @if (item.IsDone)
                {
                    <span class="glyphicon glyphicon-check"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-unchecked"></span>
                }
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ListID }, new { @class = "glyphicon glyphicon-pencil", title = "Edit" })
            @Html.ActionLink(" ", "Details", new { id = item.ListID }, new { @class = "glyphicon glyphicon-search", title = "Details" })
            @Html.ActionLink(" ", "Delete", new { id = item.ListID }, new { @class = "glyphicon glyphicon-trash", title = "Delete" })
        </td>
    </tr>
}

</table>
