@model IEnumerable<Todo.Models.List>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListTitle)
            </td>
            <td>
                                             
                <a href="@Url.Action("Edit", new { id = item.ListID })" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a> |
                <a href="@Url.Action("Details", new { id = item.ListID })" title="Details"><span class="glyphicon glyphicon-list"></span></a> |
                <a href="@Url.Action("Delete", new { id = item.ListID })" title="Delete"><span class="glyphicon glyphicon-trash"></span></a> 


            </td>
        </tr>
    }

</table>
